<app-breadcrumb class="d-lg-none"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-lg-10 col-md-12 col-sm-12 ms-sm-auto mb-5 px-md-4 mt-4 mx-auto">
      <a (click)="goBack()" class="d-none d-lg-block">
        <i class="material-symbols-outlined ms-5 back" data-bs-toggle="tooltip" data-bs-placement="right"
          data-bs-title="Volver atrás">arrow_back_ios</i>
      </a>  
      <section class="ftco-section">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-10">
                <div class="login-wrap p-4 p-md-5">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <i class="material-symbols-outlined">flag</i>
                  </div>
                  <h3 class="text-center mb-4">Añadir país</h3>
                  <form class="login-form" (ngSubmit)="addCountry(fileInput)" [formGroup]="myForm" autocomplete="off">
                    <div class="form-group">
                      <label class="col-form-label" for="name">Nombre del país <span class="requiredField" >*</span></label>
                      <input type="text" class="form-control rounded-left" name="name" formControlName="name">
                      <span class="form-text text-danger" *ngIf="notValid('name')">
                        El nombre del país debe tener como mínimo 5 caracteres y como máximo 27
                      </span>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="woman">Descripcion del país <span class="requiredField" >*</span></label>
                      <p-editor formControlName="description" [style]="{'height':'520px', 'font-size': '17px'}" placeholder="Introduzca la descripción" id="description" name="description"></p-editor>
                      <span class="form-text text-danger" *ngIf="notValid('description')">
                        La descripción del país debe tener como mínimo 100 letras
                      </span>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label" for="image">Bandera del país</label>
                      <input type="file" #fileInput class="form-control rounded-left" name="image">
                    </div>
                    <div class="form-group">
                      <span class="requiredField" >*</span> Campos obligatorios
                    </div>
                    <div class="form-group">
                      <button type="submit" [disabled]="myForm.invalid"
                        class="btn btn-primary rounded submit p-3 px-5">Enviar</button>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
  
    </div>
  </div>
