<app-breadcrumb></app-breadcrumb>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">Loguéate</h3>
          <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm" autocomplete="off">
            <div class="form-group">
              <label class="col-form-label" for="username">Nombre de usuario <span class="requiredField" >*</span></label>
              <input type="text" class="form-control rounded-left" [ngModel]="initForm.username"
              name="username" minlength="3" maxlength="30" required>
              <span class="form-text text-danger" 
                          *ngIf="notValid('username')">
                          El nombre de usuario debe tener como mínimo 3 letras y como máximo 30
                    </span>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="password">Contraseña <span class="requiredField" >*</span></label>
              <input type="password" class="form-control rounded-left" [ngModel]="initForm.password"
              name="password" minlength="5" maxlength="60" required>
              <span class="form-text text-danger" 
              *ngIf="notValid('password')">
              La contraseña debe tener como mínimo 5 letras y como máximo 60
              </span>
            </div>
            <div class="form-group">
              <span class="requiredField" >*</span> Campos obligatorios
            </div>
            <div class="form-group d-md-flex justify-content-center">
              <div class="text-center">
                <a routerLink="/auth/register" routerLinkActive="active">¿No tienes cuenta? Regístrate</a>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary rounded submit p-3 px-5">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
