<app-breadcrumb></app-breadcrumb>
<div class="about-section mt-5 mb-5">
  <h1>Sobre mí</h1>
  <p>Este es un proyecto del Grado Superior en Desarrollo de Aplicaciones Web.</p>
</div>


<div class="col-lg-12 mx-auto flex-fill card mb-5 mt-5 pb-3 pt-3 border-light" style="max-width: 800px;">
  <div class="row g-0">
    <div class="col-lg-4 text-center">
      <img src="assets/sandra.jpeg" class="img-fluid rounded-start" style="width:80%" alt="Sandra">
    </div>
    <div class="col-lg-8 text-center">
      <div class="card-body">
        <h2 class="card-title text-dark font-weight-bold">Creadora</h2>
        <p class="card-text h3">Sandra Ruiz</p>
        <p class="card-text h3 fst-italic">Desarrolladora de aplicaciones web</p>
        <p>lasquefaltaban@gmail.com</p>
      </div>
    </div>
  </div>
</div>