<app-breadcrumb></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="px-4 py-5 my-5">
            <div class="row d-flex justify-content-lg-center text-center">
              <div class="col-md-8">
                <h1 class="display-5 fw-bold mb-5">Ranking de jugador@s</h1>
                <h4 class="mt-5" *ngIf="!ranking.length">Aún no hay datos para mostrar</h4>
                <table class="table table-bordered table-striped table-hover text-left" *ngIf="ranking.length">
                    <thead>
                    <tr class="h4">
                        <th class="align-middle text-center">Puesto</th>
                        <th class="align-middle text-center">Usuari@</th>
                        <th class="align-middle text-center">Puntuación</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let ra of ranking; let index = index" class="h5">
                        <td class="align-middle text-center">{{ index+1 }}</td>
                        <td class="align-middle text-center q-name">{{ ra.username }}</td>
                        <td class="align-middle text-center">{{ ra.score }}</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  
