.button-active { color: #fff; background-color: #b08f26; border-color: #b08f26 !important} 

.activeMenu { color: #b08f26 !important; } 

.material-symbols-outlined { color: #5e1f5d} 

.big-icon {font-size: 48px; }

.special-inline { display: inline-block} 

.active { background-color: #8d448b !important; color: white !important;}

.hamburguer-icon {color: white; font-size: 40px}

.hamburguer-menu {background-color: #5e1f5d}