<header
  class="col-lg bg-white d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom sticky-top">
  <a routerLink="/" class="d-none d-md-flex align-items-center col-md-3 col-lg-2 mb-3 mb-md-0 text-dark text-decoration-none">
    <img class="bi me-2 mt-2 mb-3" width="170" aria-label="Las Que Falta(ba)n" src="assets/logo1.png">
  </a>
  <a routerLink="/" class="d-flex justify-content-center text-center d-md-none">
    <img class="bi me-2 mt-2 mb-3" width="170" aria-label="Las Que Falta(ba)n" src="assets/logo1.png">
  </a>

  <div class="d-none d-lg-block col-lg-7">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/" routerLinkActive="activeMenu"
          [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/game" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact:true}">Jugar</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/ranking" routerLinkActive="activeMenu">Ranking</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/country" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact: true}">Las mujeres en el
          mundo</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/about" routerLinkActive="activeMenu">Sobre mí</a>
      </li>
    </ul>
  </div>

  
  
  <div class="text-end me-1 mb-3">
    <div class="button-group " *ngIf="!(isLoggedIn$|async) else logOut">
      <button type="button" class="btn btn-secondary btn-lg me-2" routerLink="/login">Acceder</button>
      <button type="button" class="btn btn-primary btn-lg" routerLink="/auth/register">Registrarse</button>
    </div>
    <ng-template #logOut>
      <div class="flex-shrink-0 dropdown special-inline" *ngIf="(isAdmin$|async) || isAdmin=='ADMIN'">
        <div class="mr-5 text-center">
          <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownMenuButton1" 
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-symbols-outlined big-icon">admin_panel_settings</i>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><i class="material-symbols-outlined">group</i>  Usuari@s</a></li>
            <li><a class="dropdown-item" routerLink="/game/list" routerLinkActive="active"><i class="material-symbols-outlined">sports_score</i>  Partidas</a></li>
            <li><a class="dropdown-item" routerLink="/question" routerLinkActive="active"><i class="material-symbols-outlined">quiz</i>  Preguntas</a></li>
            <li><a class="dropdown-item" routerLink="/category" routerLinkActive="active"><i class="material-symbols-outlined">category</i>  Categorías</a></li>
            <li><a class="dropdown-item" routerLink="/woman" routerLinkActive="active"><i class="material-symbols-outlined">female</i>  Mujeres</a></li>
            <li><a class="dropdown-item" routerLink="/country/list" routerLinkActive="active"><i class="material-symbols-outlined">flag</i>  Países</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-shrink-0 dropdown special-inline">
        <div class="mr-5 text-center">
          <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-symbols-outlined big-icon" *ngIf="!(img | async) && imgCookie=='null'">account_circle</i>
            <img src="{{img | async}}" alt="Icono usuario" width="50" height="50" class="rounded-circle" *ngIf="(img | async) && imgCookie!='null'">
            <img src="{{imgCookie}}" alt="Icono usuario" width="50" height="50" class="rounded-circle" *ngIf="!(img | async) && imgCookie!='null'">
          </a>
          <span *ngIf="username | async">{{username | async}}</span>
          <span *ngIf="!(username | async)">{{usernameCookie}}</span>
          
          <ul class="dropdown-menu text-small shadow">
            <li *ngIf="score!=-1" class="text-center" style="font-weight: bold; color:#5e1f5d">{{score}} puntos</li>
            <div class="d-flex justify-content-center">
              <hr style="border-color: #5e1f5d; width: 70%" class="my-4 w-70 bg-primary">
            </div>
            <li *ngIf="(username | async)"><a class="dropdown-item" [routerLink]="['/user/update', username | async]" routerLinkActive="active">Modificar
                mis datos</a></li>
            <li *ngIf="!(username | async)"><a class="dropdown-item" [routerLink]="['/user/update', usernameCookie]" routerLinkActive="active">Modificar
                  mis datos</a></li>
                  
          </ul>
        </div>
      </div>
      <div class="special-inline text-end">
        <a routerLink="/" (click)="logout()"><i class="material-symbols-outlined big-icon">logout</i></a>
      </div>
    </ng-template>
  </div>

  <div class="d-lg-none col-sm-12 col-md-12 hamburguer-menu">
    <button class="navbar-toggler d-lg-none text-left" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" [attr.aria-expanded]="isNavbarOpen ? 'true' : 'false'">
      <i class="material-symbols-outlined hamburguer-icon">
        menu
      </i>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show': isNavbarOpen}">
    <ul class="navbar-nav ms-auto text-left">
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/" routerLinkActive="activeMenu"
          [routerLinkActiveOptions]="{exact:true}" (click)="closeNavbar()">Inicio</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/game" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact:true}" (click)="closeNavbar()">Jugar</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/ranking" routerLinkActive="activeMenu" (click)="closeNavbar()">Ranking</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/country" routerLinkActive="activeMenu" [routerLinkActiveOptions]="{exact: true}" (click)="closeNavbar()">Las mujeres en el
          mundo</a></li>
      <li class="nav-item"><a class="nav-link px-2 mx-3 font-weight-bold" routerLink="/about" routerLinkActive="activeMenu" (click)="closeNavbar()">Sobre mí</a>
      </li>
    </ul>
  </div>

</header>
