<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-10 ms-sm-auto px-md-4  mb-5 mt-4">
      <div class="d-flex flex-column flex-shrink-0 position-sticky text-center">
        <h1 class="display-5 fw-bold mb-5">Listado de preguntas</h1>
        <a routerLink="/question/add"><button class="btn btn-success btn-lg pull-right mb-5">+ Nueva pregunta</button></a>

        <table class="table table-bordered table-striped table-hover text-left" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr class="h4">
              <th class="align-middle text-center">Pregunta</th>
              <th class="align-middle text-center">Respuestas</th>
              <th class="align-middle text-center">Mujer</th>
              <th class="align-middle text-center">Categoría</th>
              <th class="align-middle text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let question of questions" class="h5">
              <td class="align-middle q-name">{{ question.name }}</td>
              <td class="align-middle">
                <p><span *ngIf="question.answers[0].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg></span>
                  <span *ngIf="!question.answers[0].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg></span> {{question.answers[0].answer}}
                </p>

                <p>
                  <span *ngIf="question.answers[1].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg></span>
                  <span *ngIf="!question.answers[1].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg></span> {{question.answers[1].answer}}
                </p>
                <p>
                  <span *ngIf="question.answers[2].correct==true"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg></span>
                  <span *ngIf="question.answers[2].correct==false"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg></span> {{question.answers[2].answer}}
                </p>
                <p>
                  <span *ngIf="question.answers[3].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg></span>
                  <span *ngIf="!question.answers[3].correct"><svg xmlns="http://www.w3.org/2000/svg" height="20"
                      height="20" fill="red" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                    </svg></span> {{question.answers[3].answer}}
                </p>
              </td>

              <td class="align-middle text-center">{{question.woman.name}}</td>
              <td class="align-middle text-center">{{question.category.name}}
              </td>
              <td class="align-middle text-center">
                <button type="button" [routerLink]="['/question/update', question.id]" class="btn btn-info"
                  style="margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" height="20" height="20"
                    fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg> Editar</button>
                <button type="button" (click)="deleteQuestion(question.id)" class="btn btn-danger"
                  style="margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" height="20" height="20"
                    fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                  </svg> Borrar</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </main>

  </div>
</div>
