<app-breadcrumb class="d-lg-none"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-lg-10 col-md-10 col-sm-12 ms-sm-auto mb-5 px-md-4 mt-4 mx-auto text-center">
      <div class="flex-shrink-0 position-sticky text-center align-top">
          <h1 class="display-5 fw-bold mb-5">Listado de mujeres</h1>
          <div class="separation">
            <a routerLink="/woman/add"><button class="btn btn-success btn-lg pull-right">+ Nueva mujer</button></a>
          </div>
          <table class="table table-bordered table-striped table-hover text-left" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th class="align-middle text-center h5 fw-bold">Nombre</th>
                <th class="align-middle text-center h5 fw-bold d-none d-lg-table-cell">Descripción</th>
                <th class="align-middle text-center h5 fw-bold">Acciones</th>
              </tr>
            </thead>
            <tbody>
  
              <tr *ngFor="let woman of women">
                <td class="align-middle text-center q-name">{{ woman.name }}</td>
                <td class="align-middle text-center d-none d-lg-table-cell" innerHTML="{{woman.description.substring(0, 300)}}  [...]"></td>
                <td class="align-middle text-center q-actions">
                  <button type="button" [routerLink]="['/woman/update', woman.id]" class="btn btn-info mb-2 mt-2"
                    style="margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" height="20" height="20"
                      fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                      <path fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg> Editar</button>
                  <button type="button" (click)="deleteWoman(woman.id)" class="btn btn-danger mb-2 mt-2"
                    style="margin-left: 10px;"><svg xmlns="http://www.w3.org/2000/svg" height="20" height="20"
                      fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path
                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg> Borrar</button>
                </td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </main>
  
    </div>
  </div>
  
