<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/user" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
            <i class="material-symbols-outlined">group</i>
          Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/question" routerLinkActive="active" class="nav-link link-dark">
            <i class="material-symbols-outlined">quiz</i>
          Preguntas
        </a>
      </li>
      <li>
        <a routerLink="/category" routerLinkActive="active" class="nav-link link-dark">
            <i class="material-symbols-outlined">category</i>
          Categorías
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/woman" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
            <i class="material-symbols-outlined">female</i>
          Mujeres
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/country/list" routerLinkActive="active" class="nav-link link-dark" aria-current="page">
            <i class="material-symbols-outlined">flag</i>
          Países
        </a>
      </li>
    </ul>
  </div>
</nav>