<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template text-center">
        <img src="assets/404.png">
        <div class="error-details mb-5">
          Lo sentimos, se ha producido un error. Página solicitada no encontrada
        </div>
        <div class="error-actions mb-5">
          <a class="btn btn-primary btn-lg mb-5" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="glyphicon glyphicon-home"></span>
            Llévame al Inicio </a>
        </div>
      </div>
    </div>
  </div>
</div>
