<app-breadcrumb class="d-lg-none"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col-lg-10 col-md-12 col-sm-12 ms-sm-auto mb-5 px-md-4 mt-4 mx-auto">
      <a (click)="goBack()" class="d-none d-lg-block">
        <i class="material-symbols-outlined ms-5 back" data-bs-toggle="tooltip" data-bs-placement="right"
          data-bs-title="Volver atrás">arrow_back_ios</i>
      </a>  
      <section class="ftco-section text-center">
          
          <div class="container mb-5">
            
            <div class="row justify-content-center">
              
              <div class="col-md-12 col-lg-7">
                
                <div class="login-wrap p-4 p-md-5">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <i class="material-symbols-outlined">category</i>
                  </div>
                  <h3 class="text-center mb-5">Añadir categoría</h3>
                  
                  <form class="login-form" (ngSubmit)="addCategory()" [formGroup]="myForm" autocomplete="off">
                    <div class="form-group mb-5">
                      <label class="col-form-label" for="username">Nombre de categoría <span class="requiredField" >*</span></label>
                      <input type="text" class="form-control rounded-left" name="name" formControlName="name">
                      <span class="form-text text-danger" *ngIf="notValid('name')">
                              El nombre de la categoría debe tener como mínimo 2 letras y como máximo 50
                      </span>
                    </div>
                    <div class="form-group">
                      <span class="requiredField" >*</span> Campos obligatorios
                    </div>
                    <div class="form-group m5-5">
                      <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Enviar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
  
    </div>
  </div>
