<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <app-sidebar></app-sidebar>
      </div>
      <main class="col-10 ms-sm-auto px-md-4">
        <a (click)="goBack()">
          <i class="material-symbols-outlined ms-5 back" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Volver atrás">arrow_back_ios</i>
        </a>  
          <section class="ftco-section">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-10">
                  <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                      <i class="material-symbols-outlined">female</i>
                    </div>
                    <h3 class="text-center mb-4">Editar mujer</h3>
                    <form class="login-form" (ngSubmit)="editWoman()" [formGroup]="myForm" autocomplete="off">
                      <div class="form-group">
                        <label class="col-form-label" for="name">Nombre de mujer</label>
                        <input type="text" class="form-control rounded-left" name="name" formControlName="name">
                        <span class="form-text text-danger" *ngIf="notValid('name')">
                            El nombre de la mujer debe tener como mínimo 10 letras y como máximo 100
                        </span>
                      </div>
                      <div class="form-group">
                        <label class="col-form-label" for="description">Descripcion de mujer</label>
                        <p-editor formControlName="description" [style]="{'height':'520px'}" placeholder="Introduzca la descripción" id="description" name="description"></p-editor>
                        <span class="form-text text-danger" *ngIf="notValid('description')">
                          La descripción de la mujer debe tener como mínimo 100 letras
                        </span>
                      </div>
                      <div class="form-group">
                        <button type="submit" [disabled]="myForm.invalid || myForm.pristine" class="btn btn-primary rounded submit p-3 px-5">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
    
      </div>
    </div>
