<app-breadcrumb [countryName]="countryName"></app-breadcrumb>
<a (click)="goBack()">
  <i class="material-symbols-outlined ms-5" data-bs-toggle="tooltip" data-bs-placement="right"
    data-bs-title="Volver atrás">arrow_back_ios</i>
</a>

<div class="px-4 py-5 my-5">
  <div class="row d-flex justify-content-lg-center text-center">
    <div class="col-md-8">
      <h1 class="display-5 fw-bold mb-5">{{country.name}}</h1>
      <img src="{{country.img}}" class="float-none img-title mb-5" *ngIf="country.img!=null">
      <img src="assets/world.png" class="img-fluid rounded-start" alt="{{country.name}}" *ngIf="country.img==null">
      <div class="d-flex justify-content-center">
        <div innerHTML={{country.description}} class="fs-5 text-start mb-5 justify-content-center "></div>
      </div>


      <p class="fs-5 fst-italic">Artículo originalmente publicado en <a href="http://radiojaputa.com">radiojaputa.com</a>
      </p>
    <div>
  </div>
</div>
